/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ main__menu-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  font-family: var(--font-main), sans-serif;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  color: var(--text-color);
  background-image: var(--background-color);
  background-attachment: fixed;
  background-size: cover;
  background-color: var(--main-bg-color);
  background-attachment: fixed;
  font-variation-settings: "wght" var(--font-medium) "wght" var(--font-bold);
}

.header {
  display: grid;
  justify-content: center;
  font-family: var(--font-additional), sans-serif;
  margin-block-start: 102px;
  margin-block-end: 100px;
  margin-inline-start: auto;
  margin-inline-end: auto;
  max-width: 700px;
  background-color: var(--background-color-section);
  border: 2px solid var(--border-color);
  grid-template-rows: repeat(3, max-content);
}

.header__title {
  display: grid;
  justify-content: center;
  margin-block-start: 136px;
  font-size: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
  font-weight: 100;
  text-transform: uppercase;
}

.header__subtitle_header {
  text-transform: uppercase;
}

.header__subtitle {
  display: grid;
  justify-content: center;
  margin-block-start: 20px;
  font-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
}

.header__theme-menu {
  display: grid;
  justify-content: center;
  margin-block-start: 24px;
  padding-inline-start: 20px;
  margin-block-end: 21px;
 
}

.theme-menu__list {
  display: grid;
  row-gap: 8px;
}

.theme-menu__button {
  background-color: transparent;
  border: none;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled:before {
  content: "▶";
  position: absolute;
  top: auto;
  left: calc(100% - 50% - 60px);
  animation: move-arrow 0.5s ease-in-out infinite alternate;
  animation-name: loading;
  opacity: 0.6;
}

.theme-menu__button:focus,
.theme-menu__button:focus-visible {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  margin-top: 1px;
  background-color: var(--border-color);
  opacity: 0.6;
  transition: width 0.3s ease;
}

.theme-menu__button:focus::after,
.theme-menu__button:focus-visible::after {
  width: 100%;
}

.main {
  margin-inline-start: auto;
  margin-inline-end: auto;
  max-width: 698px;
}

.section {
  position: relative;
  background-color: var(--background-color-section);
  border: 2px solid var(--border-color);
  margin-block-end: 51px;
}

.subtitle {
  padding: 5px 10px;
 /*  min-height: 31px; */
  font-family: var(--font-main), sans-serif;
  font-size: 18px;
  line-height: normal;
  padding-inline-start: 11px;
  font-weight: var(--font-bold);
}

.card_picture {
  position: relative;
}

.section__picture {
  width: 100%;
  border-bottom: 2px solid var(--border-color);
  border-top: 2px solid var(--border-color);
  margin-block-end: 21px;
  object-fit: cover;
  object-position: center center;
}

.picture_filter_brightness {
  filter: brightness(200%);
}

.picture_filter_contrast {
  filter: contrast(20%);
}

.picture_filter_blur {
  filter: blur(0.09rem);
}

.picture_filter_opacity {
  filter: opacity(0.8);
}

.picture_filter_grayscale {
  filter: grayscale(0.8);
}

.picture_filter_saturate {
  filter: saturate(58%);
}

.picture_filter_multiple {
  filter: grayscale(0.8) blur(0.4rem) saturate(78%);
}

.picture_label {
  position: absolute;
  inset-inline-end: 25px;
  inset-block-start: 29px;
  color: var(--text-color);
  font-family: var(--font-additional), sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow: 1px 1px var(--label-text-color);
}

.section__text {
  display: grid;
  grid-template-rows: repeat(2, max-content);
  row-gap: 27.5px;
  margin-inline-start: 25px;
  margin-inline-end: 25px;
  inset-block-start: 29px;
  font-weight: normal;
}

.section__paragraph {
  font-family: var(--font-main), sans-serif;
  font-size: 18px;
  font-weight: var(--font-medium);
  line-height: 116%;
}

.section__buttons {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  margin-block-start: 23px;
  margin-block-end: 23.3px;
  margin-inline-end: 25px;
  cursor: pointer;
}

.main__menu-button {
  display: flex;
  position: relative;
  min-width: 130px;
  min-height: 38px;
  background-color: transparent;
  border: 2px solid var(--border-color);
  overflow: hidden;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.main__menu-button:focus,
.main__menu-button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0px 0px var(--border-color);
}

.main__menu-button::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: var(--text-color);
  left: 0;
  top: 0;
  transform: translateX(-100%);
  transition: 0.5s ease-in-out;
}

.main__menu-button:hover::after {
  transform: translateX(0);
 }

.main__menu-button:not(:hover)::after {
  transform: translateX(-100);
 }

.button__text {
  position: relative;
  z-index: 1;
  margin: auto;
  font-family: var(--font-additional), sans-serif;
  font-size: 14px;
  color: var(--button-text-color);
  mix-blend-mode: difference;
  cursor: pointer;
}

.card__icon-button {
  display: flex;
  background-color: transparent;
  align-items: center;
  border: 2px solid transparent;
  cursor: pointer;
  transition: outline 0.3s ease;
}
.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  --icon-outline: var(--border-color);
}

.like-icon {
  outline-offset: -2.3px;
  outline: 2px solid var(--icon-outline);
  transition: outline 0.3s ease;
  /* transform: translate(2px, 5px); */
}

.sparks {
  opacity: 0;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline-start: auto;
  margin-inline-end: auto;
  max-width: 700px;
  min-height: 51px;
}


.footer_button_hover_focuc {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color-section);
  border: 2px solid var(--border-color);
  overflow: hidden;
  cursor: pointer;
  transition: box-shadow 0.5s ease-in-out;
}

.footer__menu-button {
  gap: 8px;
  min-width: 340px;
  min-height: 55px;
  margin-block-end: 105px;
}

.footer_button_hover_focuc::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: var(--text-color);
  left: 0;
  top: 0;
  transform: translateX(-100%);
  transition: 0.5s ease-in-out;
 }

.footer_button_hover_focuc:hover::after {
  transform: translateX(0);
}

.footer_button_hover_focuc:not(:hover)::after {
  transform: translateX(-100);
}

.footer_button_hover_focuc:focus,
.footer_button_hover_focuc:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0px 0px var(--border-color);
}



.floppy {
  display: flex;
  z-index: 2;
  position: relative;
  align-self: center;
  mix-blend-mode: difference;
  color: var(--button-text-color);
}

.floopy_stroke {
  stroke-width: 0.2px;
}

.svg {
  margin-inline-start: 15px;
}

.footer_text {
  position: relative;
  z-index: 1;
  font-family: var(--font-additional), sans-serif;
  font-size: 14px;
  color: var(--button-text-color);
  mix-blend-mode: difference;
  cursor: pointer;
}

.dialog {
  display: flex;
  max-width: 357px;
  background-color: var(--background-color-section);
  border: 2px solid var(--border-color);
  padding: 30px;
}

.dialog:not([open]) {
  pointer-events: none;
  opacity: 0;
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog_form {
  display: grid;
  grid-template-columns: 29px 234px;
  align-items: center;
  column-gap: 30px;
  row-gap: 20px;
}

.dialog_text {
  max-width: 234px;
  text-transform: uppercase;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  padding-inline-end: 20px;
}

.dialog_menu-button {
  min-height: 38px;
  grid-column: span 2;
}


.floppy-1 {
  color: var(--button-text-color);
  /*   transform: translate(-5px, 12.5px); */
  mix-blend-mode: difference;
  position: relative;
  z-index: 2;
}

@media (width < 696px) {
  .header__title {
    margin-block-start: 120px;
  }

  .like-icon {
    transform: translate(3px, 2px);
  }

  .section {
    margin-block-end: 49px;
  }

  .section__buttons {
    margin-block-end: 23px;
  }

  .picture_label {
    inset-inline-end: 10px;
    inset-block-start: 25px;
  }

  .footer__menu-button {
    flex-direction: column;
    min-width: 311px;
    min-height: 82px;
    align-items: center;
    gap: 12px;
  }

  .floppy-1 {
    scale: 1.33;
    transform: translate(-5px, 12.5px);
    margin-top: 1px;
    margin-left: 11px;
  }

  .footer_text {
    padding-block-start: 15px;
    padding-inline-start: 5px;
    margin-bottom: 10px;
  }

  .dialog {
    min-width: 341px;

  }

  .dialog_form {
    grid-template-columns: 30px 197px;
    column-gap: 30px;
    margin-inline-start: 10px;
  }

  .dialog_text {
    padding-inline-end: 0;
  }
}


@supports (text-stroke: 1px var(--label-text-color)) or (-webkit-text-stroke: 1px var(--label-text-color)) {
  .picture_label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--label-text-color);
    text-stroke: 1px var(--label-text-color);
  }
}