/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-light {
  --font-main: "Inter-Variable";
  --font-additional: "PressStart2P";
  --font-medium: 400;
  --font-bold: 700;
  --background-color: repeating-linear-gradient(
      to left,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(#d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
  --text-color: #000;
  --background-color-section: rgba(255, 255, 255, 1);
  --border-color: #000;
  --button-text-color: rgba(255, 255, 255, 1);
  --label-text-color: rgba(255, 255, 255, 1);
}

:root.theme-dark {
  --font-main: "Inter-Variable";
  --font-additional: "PressStart2P";
  --font-medium: 465;
  --font-bold: 785;
  --background-color: repeating-linear-gradient(
      to left,
      #000 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(#004306 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #004306 0.01%, #1a1a1a);
  --text-color: #00cc14;
  --background-color-section: #000;
  --border-color: #00cc14;
  --button-text-color: #00cc14;
  --label-text-color: #000;
}

@media (prefers-color-scheme: light) {
  :root {
    --font-main: "Inter-Variable";
    --font-additional: "PressStart2P";
    --font-medium: 400;
    --font-bold: 700;
    --background-color: repeating-linear-gradient(
        to left,
        #d3d3d3 0 2px,
        transparent 2px 4px
      ),
      repeating-linear-gradient(#d3d3d3 0 2px, transparent 2px 4px),
      linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
    --text-color: #000;
    --background-color-section: rgba(255, 255, 255, 1);
    --border-color: #000;
    --button-text-color: rgba(255, 255, 255, 1);
    --label-text-color: rgba(255, 255, 255, 1);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --font-main: "Inter-Variable";
    --font-additional: "PressStart2P";
    --font-medium: 465;
    --font-bold: 785;
    --background-color: repeating-linear-gradient(
        to left,
        #000 0 2px,
        transparent 2px 4px
      ),
      repeating-linear-gradient(#004306 0 2px, transparent 2px 4px),
      linear-gradient(to bottom, #004306 0.01%, #1a1a1a);
    --text-color: #00cc14;
    --background-color-section: #000;
    --border-color: #00cc14;
    --button-text-color: #00cc14;
    --label-text-color: #000;
  }
}
